@keyframes zoomCar {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

.car-animation {
    animation: zoomCar 7s linear infinite;
    position: relative;
    display: block;
    margin: 0 auto;
    /* Center the car */
}
